body {
    margin: 0;
    padding: 0;
    background-image: url(./Images/background_aquarium_boule.jpg);
    background-size: cover;
}

.card {
    background-color: #ff8c00;
    border: solid 1px #9ca3af;
    padding: 20px;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    
}

.card {
    display: flex;
    justify-content: center;


}

.h1 {
    text-align: center;
    background-color: #daa520;
    border: solid 1px #9ca3af;
    padding: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

.card .hidden-text {
    display: none;
    
}

.card:hover .hidden-text {
    display: block;

}

.card:hover .Initial {
display: none;

} 





